.contacts {
  &__title {
    margin: 0;
    padding: 0 30px;
    font-size: 18px;
    margin-bottom: 25px;
  }
  &__text {
    .clearfix();
    padding: 0 30px;
    margin-bottom: 30px;

    & span {
      float: right;
      width: 180px;
      padding-left: 15px;
    }
  }
  &__map {
    background-image: url(../img/bg-map.png);
    background-repeat: no-repeat;
    height: 457px;
    margin-bottom: 45px;
  }
  & .btn {
    padding: 10px 49px;
  }
}
