.contacts {
  margin-bottom: 40px;

  &__title {
    margin: 0;
    padding: 0 30px;
    font-size: 18px;
    margin-bottom: 25px;
  }
  &__text {
    .clearfix();
    width: 260px;
    padding: 0 30px;
    margin: 0 auto 30px;

    &:nth-of-type(2) {
      margin-bottom: 35px;
    }

    & span {
      float: right;
      width: 180px;
      padding-left: 15px;
    }

    & a {
      position: relative;
      color: #444;
      text-decoration: none;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #46c1ae;
      }

      &:hover {
        color: #46c1ae;
      }

      &:active {
        color: rgba(70, 193, 174, 0.3);
      }
    }
  }
  &__map {
    background-image: url(../img/bg-map.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 457px;
    margin-bottom: 40px;
  }
  & .btn {
    padding: 10px 49px;
  }
}

@media @tablet-width {
  .contacts {
    margin-bottom: 60px;

    &__title {
      position: relative;
      padding: 0;
      font-size: 43px;
      line-height: 50px;
      margin-bottom: 50px;

      &::before {
        content: '';
        background-image: url(../img/icons/icon-flag.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        width: 47px;
        height: 81px;
      }
    }
    &__text {
      .clearfix();
      display: inline-block;
      vertical-align: top;
      padding: 0;
      font-size: 17px;
      margin-right: 85px;
      margin-bottom: 30px;

      &:nth-of-type(2) {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
    &__map {
      background-image: url(../img/bg-map-tablet.png);
      margin-bottom: 50px;
    }
    & .btn {
      padding: 9px 30px;
    }
  }
}

@media @desktop-width {
  .contacts {
    position: relative;
    padding: 70px 0 45px;

    & .container {
      .clearfix();
    }

    &__title {
      font-size: 53px;
      line-height: 57px;
      padding-left: 175px;
      margin-bottom: 50px;

      &::before {
        top: -8px;
        left: 63px;
      }
    }
    &__text {
      .clearfix();
      float: left;
      width: 305px;
      padding-left: 175px;
      clear: both;
      margin: 0 0 30px 0;

      &:nth-of-type(2) {
        margin-bottom: 75px;
      }

      & span {
        width: 225px;
        padding-left: 0;
      }

      &:nth-of-type(2) br {
        display: none;
      }
    }

    &__map {
      position: absolute;
      top: 0;
      right: 50%;
      background-image: url(../img/bg-map-desktop.png);
      width: 525px;
      height: 457px;
      transform: translateX(525px);
    }

    & .btn {
      display: block;
      padding: 10px 35px;
      margin: 0 0 0 175px;
      clear: both;
    }
  }
}
