.top-product {
  position: relative;
  padding-bottom: 42px;
  margin-bottom: 30px;
  &__title {
    margin: 0 0 18px 0;
    padding: 0 30px;
    font-size: 25px;
    color: #000;

    & span {
      display: inline-block;
      vertical-align: bottom;
      font-size: 17px;
      color: #63d1bb;
      text-transform: uppercase;
    }
  }

  &__description {
    padding: 0 30px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__table {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;

    & td {
      padding: 0 0 6px 0;
      border-bottom: 1px solid #ececec;
    }

    & td:nth-child(even) {
      padding-left: 15px;
    }
  }

  &__photo {
    padding: 0 30px;
    margin-bottom: 10px;
  }

  &__price {
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 28px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/zigzag.png);
    height: 7px;
  }
}
.btn {
  display: block;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #444;
  padding: 7px 80px;
  margin: 0 auto;

  &:hover {
    background-color: #444;
    color: #fff;

    transition: all 0.2s;
  }
}

@media @tablet-width {
  .top-product {
    padding-bottom: 70px;
    margin-bottom: 50px;

    &__title {
      margin: 0 0 50px 0;
      padding: 0;
      font-size: 43px;
      line-height: 50px;

      & span {
        float: right;
        width: 70px;
        line-height: 17px;
        text-align: center;
        margin: 10px;
      }
    }

    &__description {
      padding: 0;
      font-size: 17px;
      line-height: 30px;
      width: 44%;
      margin-bottom: 37px;
    }

    &__table {
      width: 44%;
      padding: 0;
      margin-bottom: 55px;
    }

    &__photo {
      position: absolute;
      top: 105px;
      right: 50%;
      transform: translateX(334px);
      padding: 0;
      margin-bottom: 0;
    }

    &__order {
      width: 45%;
      text-align: center;
    }

    &__price {
      font-size: 20px;
      margin-bottom: 35px;
    }

    & .btn {
      margin: 0;
      padding: 8px 95px;
    }

    &::after {
      background-image: url(../img/zigzag-desktop.png);
      height: 17px;
    }
  }
}

@media @desktop-width {
  .top-product {
    padding-top: 55px;
    padding-bottom: 100px;
    margin-bottom: 60px;

    &__title {
      position: relative;
      font-size: 53px;
      line-height: 57px;
      z-index: 2;

      & span {
        float: left;
        width: 125px;
        margin: 20px;
      }
    }

    &__description {
      width: 28%;
      padding-left: 175px;
      margin-bottom: 50px;
    }

    &__table {
      width: 44%;
      padding-left: 175px;
      margin-bottom: 105px;
    }

    &__photo {
      top: 0;
      transform: translateX(525px);
    }

    &__order {
      width: 28%;
      padding-left: 175px;
    }

    &__price {
      font-size: 20px;
      margin-bottom: 35px;
    }

    & .btn {
      margin: 0;
      padding: 8px 95px;
    }

    &::after {
      background-image: url(../img/zigzag-desktop.png);
      height: 17px;
    }
  }
}
